body{
	margin: 0;
	padding: 0;
	background:#dedede;
}


.header{
	width: 1210px;
	margin: 0 auto;
	height: 60px;
	background: #333333;
}
.header img{
	position: relative;
	left: 35px;
	top: 5px;
	width: 10%;
	
}
.header-guide{
	float: right;
}
.header-guide li{
	float: left;
	margin-right: 30px;	
	font-size: 20px;
	color: black;
}
.header-guide a{
	text-decoration: none;
	color: white;
}


.text-page{
	width: 1170px;
	margin: 20px auto;
	padding: 40px 20px;
	background: white;
	border: 1px solid #33333;
	
	
	-webkit-box-shadow: #a1a1a1 0px 0px 5px;
	-moz-box-shadow: #a1a1a1 0px 0px 5px;
	box-shadow: #a1a1a1 0px 0px 5px;
	
}
.text-page h2{
	color: #6f5a5a;
}
.text-page p{
	text-indent: 2em;
}
.text-page pre{
	color: #69727b;
}

.picdiv{
	width: 300px;
	border: 1px solid #dddddd;
	padding: 10px;
	margin: 15px;
}
.picdiv p{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.sidebar{
	border-left: 5px solid #cbcbcb;
	padding: 0px 15px;
}
.user-infor td{
	margin: 20px;
	border: none;
}
.td-left{
	float: right;
}
.td-right{
	width: 750px;
}
.td-right p{
	color: #919594;
	padding: 0;
	margin: 0;
	position: relative;
	left: -30px;
}
#self-discribe{
	width: 720px;
	height: 100px;
}
.check-submit{
	height: 30px;
	-moz-border-radius: 5px;      
    -webkit-border-radius: 5px;  
    border-radius: 5px; 
	background: #3355d0;
	margin: 0 auto;
}
.check-button{	 
	border: none;
	color: white;
	font-size: large;
	background: #3355d0;
	position: relative;
	left: 500px;
	top: 5px;
}
.copy{
	height: 50px;
	font-size: small;
	color: white;
	background: black;
}
.copy p{
	position: relative;
	top: 15px;
	width: 80px;
	margin: 0 auto;
}
